<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
  <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
    <div class="sidebar-brand-icon rotate-n-15"><i class="fab fa-wolf-pack-battalion"></i></div>
    <div class="sidebar-brand-text mx-3"><span>Easy-work</span></div>
  </a>
    <hr class="sidebar-divider my-0">
    <ul class="navbar-nav text-light mt-5" id="accordionSidebar">
      <li class="nav-item">
        <a class="nav-link text-white text-center" [routerLink]="['/waitingTicket']" [routerLinkActive]="'class-name'">Demandes en attente</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white text-center" [routerLink]="['/validateTicket']" [routerLinkActive]="'class-name'"><span>Demandes validées</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white text-center" [routerLink]="['/refusedTicket']" [routerLinkActive]="'class-name'"><span>Demandes refusées</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white text-center" [routerLink]="['/newTicket']" [routerLinkActive]="'class-name'"><span>Créer une demande</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white text-center" [routerLink]="['/messenger']" [routerLinkActive]="'class-name'"><i class="fas fa-envelope fa-fw"></i><span>Contact</span></a>
      </li>
    </ul>
  </div>
</nav>
