  <div class="container" style="margin: 10%;">
    <div class="row">
      <div class="col">
        <div class="card shadow-lg o-hidden border-0 my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-6 d-none d-lg-flex" id="bandeau">
                <div class="flex-grow-1 bg-register-image" id="bg-login-image"></div>
              </div>
              <div class="col-lg-6">
                <div id="form">
                  <div class="text-center">
                    <h4 style="">Création d'un compte</h4>
                  </div>

                  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="row mb-3">
                      <div class="col-sm-6 mb-3 mb-sm-0">
                        <input class="form-control" formControlName="firstName" type="text" id="firstName" placeholder="Prénom" name="first_name" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                      </div>
                      <div class="col-sm-6">
                        <input class="form-control" formControlName="lastName" type="text" id="lastName" placeholder="Nom" name="last_name">
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="text" id="email" formControlName="email" placeholder="Email" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email requis</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row mb-3">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                          <input type="password" id="password" formControlName="password" class="form-control" placeholder="Mot de passe" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        </div>
                        <div class="col-sm-6">
                          <input type="password" id="passwordRepeat" formControlName="passwordRepeat" class="form-control" placeholder="Répéter le mot de passe" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        </div>
                      </div>

                    </div>
                    <button [disabled]="loading" class="btn btn-primary d-block w-100 mt-4"  id="registerButton">
                      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                      S'enregistrer
                    </button>
                    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                    <a class="btn btn-primary d-block w-100 mt-2" id="goBackButton" href="">Retour</a>
                  </form>


                  <div class="text-center"></div>
                  <div class="text-center"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
