#cardContent {
  padding-bottom: 0;
}

#endDate {
  margin-bottom: 0;
  text-align: right;
}

.card-title {
  text-align: center;
}

#reference {
  margin-bottom: 0;
}

#openButton {
  background: rgb(41,55,69);
  border-color: rgb(41,55,69);
}
