<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between" id="cardContent">
      <p  [ngClass]="{'text-success': status === 'Validé',
                      'text-warning': status === 'En attente',
                      'text-danger': status === 'Refusé'}">
        <strong>{{status}}</strong>
      </p>
      <div>
        <p id="endDate">Date butoir : {{endDate}}</p>
      </div>
    </div>
    <h4 class="card-title">{{ title }}</h4>
    <div class="d-flex justify-content-between">
      <p class="align-self-end" id="reference">Référence : {{reference}}</p>
      <button class="btn btn-primary" id="openButton" [routerLink]="'/ticket/' + id">Ouvrir</button>
    </div>
  </div>
</div>
