<div class="card" style="margin-top: 5px;">
  <div class="card-body" style="border-style: solid;">
    <div class="d-flex justify-content-between" id="cardContent">
      <p>{{status}}</p>
      <div>
        <p id="endDate">Date butoir : {{endDate}}</p>
      </div>
    </div>
    <h4 class="card-title">{{ title }}</h4>
    <div class="d-flex justify-content-between">
      <p class="align-self-end" id="reference">Référence : {{reference}}</p>
      <button class="btn btn-primary" id="openButton" [routerLink]="'/ticket/' + id">Ouvrir</button>
    </div>
  </div>
</div>
