.card {
  margin-top: 5px;
}

.card-body {
  border-style: solid;
}

#cardContent {
  padding-bottom: 0;
}

#endDate {
  margin-bottom: 0;
  text-align: right;
}

.card-title {
  text-align: center;
}

#reference {
  margin-bottom: 0;
}

#openButton {
  background: #2199e8;
  border-color: #2199e8;
}
