<body style="background: rgb(41,55,69);">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card shadow-lg o-hidden border-0 my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-6 d-none d-lg-flex" style="background: #ed5342;color: rgb(122,128,177);">
                <div class="flex-grow-1 bg-register-image" style="background: url('assets/images/logo.png') center no-repeat, #ed5342;color: var(--bs-red);"></div>
              </div>
              <div class="col-lg-6">
                <div style="padding: 15px;">
                  <div class="text-center">
                    <h4 style="font-weight: bold;font-family: Alatsi, sans-serif;color: #ed5342; margin-bottom: 37px;">Création d'un compte</h4>
                  </div>
                  <form class="user">
                    <div class="row mb-3">
                      <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control" type="text" id="firstName" placeholder="Prénom" name="first_name"></div>
                      <div class="col-sm-6"><input class="form-control" type="text" id="lastName" placeholder="Nom" name="last_name"></div>
                    </div>
                    <div class="mb-3"><input class="form-control" type="email" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Email" name="email"></div>
                    <div class="row mb-3">
                      <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control" type="password" id="examplePasswordInput" placeholder="Mot de passe" name="password"></div>
                      <div class="col-sm-6"><input class="form-control" type="password" id="exampleRepeatPasswordInput" placeholder="Répéter le mot de passe" name="password_repeat"></div>
                    </div><button class="btn btn-primary d-block w-100" type="submit" style="background: #ed5342;border-color: #ed5342;">S'enregistrer</button>
                    <hr style="">
                    <a class="btn btn-primary d-block btn-facebook w-100" role="button" style="background: rgb(40,53,67);border-color:rgb(40,53,67);" href="home">Retour</a>
                  </form>
                  <div class="text-center"></div>
                  <div class="text-center"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
