<body id="page-top">
<div id="wrapper">
  <app-home-application></app-home-application>
  <div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
      <app-navbar></app-navbar>

      <div class="d-flex align-items-stretch flex-shrink-0 bg-white">
        <div class="list-group list-group-flush border-bottom scrollarea overflow-scroll col-2" style="width: 200px; max-height:{{maxHeight}}px">
          <div  *ngFor='let in of counter(20)' class="list-group-item list-group-item-action py-3 lh-tight" >
            <div class="d-flex w-100 align-items-center justify-content-between">
              <img class="rounded-circle" src="assets/images/profil.png" style="width: 50px;">
              <strong class="mb-1">John Doe</strong>
            </div>
          </div>
        </div>
        <app-conversation class="w-100"></app-conversation>
      </div>

    </div>
  </div>
</div>
</body>
