<body class="bg-gradient-primary" style="background: rgb(41,55,69);">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-9 col-lg-12 col-xl-10">
      <div class="card shadow-lg o-hidden border-0 my-5">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-lg-6 d-none d-lg-flex" style="background: #ed5342;">
              <div class="flex-grow-1 bg-login-image" style="background: url('assets/images/logo.png') center no-repeat, rgba(41,52,69,0);border-color: rgb(133, 135, 150);"></div>
            </div>
            <div class="col-lg-6">
              <div class="p-4">
                <div class="text-center">
                  <h4 class="mb-4" style="font-weight: bold;font-family: Alatsi, sans-serif;color: rgb(237,83,66);">Bienvenue !</h4>
                </div>
                <form class="user">
                  <div class="mb-3"><input class="form-control" type="email" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="E-mail" name="email"></div>
                  <div class="mb-3"><input class="form-control" type="password" id="exampleInputPassword" placeholder="Mot de passe" name="password"></div>
                  <div class="mb-3">
                    <div class="custom-control custom-checkbox small">
                      <div class="form-check"><input class="form-check-input custom-control-input" type="checkbox" id="formCheck-1"><label class="form-check-label custom-control-label" for="formCheck-1">Se souvenir de moi</label></div>
                    </div>
                  </div><a class="btn btn-primary d-block w-100" type="submit" style="background: rgb(237,83,66);border-color: rgb(237,83,66);" href="waitingTicket">Se connecter</a>
                  <a class="btn btn-primary d-block w-100 mt-2" style="background: rgb(41,55,69);border-color: rgb(41,55,69);" href="register">S'inscrire</a>
                  <hr style="margin-top: 11px">
                </form>
                <div class="text-center"><a class="small" href="forgot-password.html" style="border-color: rgb(41,55,69);" href="forgot">Mot de passe oublié ?</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
